.goals-tab {
    padding: 1em;
    display: grid;
    justify-content: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.input-box-container {
    outline: solid 3px black;
    padding: 1em;
    border-radius: 25px;
    background-color: blue;
}

body{
    background-color: darkblue;
}

.title-div{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size:larger;
    cursor: pointer;
}

.result{
    font-size: large;
}

.schedule-options{
    outline: solid 3px orange;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom:100px;
    color: white
    
}
.schedule-container{
    outline: solid 3px white;
    border-radius: 10px;
    height: auto;
    margin-left: 500px;
    margin-right: 500px;
    color: white;
    height : 400px;
    padding : 10px;
    font-family: 'Courier New', Courier, monospace;
}

.schedule-body{
    background-color: darkblue;
}

.schedule-heading{
    margin-left: 37%;

}

.calendar-calendar{
    /* outline : white 3px solid; */
    height : 330px;
    
    
}

table{
    border-collapse: collapse;
    text-align:center;
    width: 100%;
}

 th, td{
    /* margin-right: 2%; */
    /* outline: solid white 3px; */
    /* padding: 5px */
} 


tr:nth-child(even){
    background-color: #0000ff6e;
}

.exercise-calendar{
    background-color: blue;
    color : white;
    border-radius: 5px;
    outline: invert;
}

.exercise-calendar{
    border-color: transparent;
}

.log-button{
    display: none;
    margin-left: 25%;
    font-size: 15px;

}

th{
    
    font-size: large;
}


