.home-page-container{
    color: white;
    /* display:inline-block; */
    /* outline: solid white ; */
    margin-top: 20%;
    margin-left: 38%;
    margin-right: 29%;
}

body{
    background-color: darkblue;
}

.page-title{
    
    margin-bottom: 100px;
    width: auto;
    font-family: 'Courier New', Courier, monospace;
    
    display: inline-block;
    /* outline: solid orange 3px; */
    cursor: pointer;

}

.button-container{
    
    /* outline: solid 3px white; */
    display: none;
    /* outline : white solid */
    margin-left: 10%;

    
}

a {
    margin-right: 50px; 
    /* display : inline-block; */
}